@import "../../../../shared/colors.module.scss";

.SearchForm{
    position: relative;
    display: flex;
    cursor: text;
    height: 2rem;
    margin: auto 0;
    width: 12%;
    align-items: center;
    transition: all 0.2s ease-in;

    > input {
        background: transparent;
        border: none;
        outline: none;
        color: inherit;
        font-size: 1rem;
        font-weight: 100;
        font-family: inherit;
        letter-spacing: 1px;
        padding: 0.3rem;
        width: 0;
        transition: all 0.2s ease-in;

        @media(min-width: 30rem){
            width: 70%;
        }
        @media(min-width: 80rem){
            font-size: 1.2rem;
        }
    }

    > svg {
        padding: 0;
        margin: 0 0.5rem;
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
        width: 10%;
        cursor: pointer;

        &:last-of-type{
            display: none;

            @media(min-width: 30rem){
                display: inline;
            }
        }
    }

    @media(min-width: 45rem){
        min-width: 8rem;
        width: 17%;
        margin-right: 2%;
    }

    @media(min-width: 80rem){
        min-width: none;
    }
}

.active{
    background: $active-color;
    border-radius: 5px;
    width: 19rem;
    margin: auto 0;
    margin-right: 2%;

    > input {
        width: 100%;
    }

    > svg:last-of-type{
        display: inline;
    }

    @media(min-width: 55rem){
        width: 12rem;
    }
}