@import "../../../../shared/colors.module.scss";

.AuthBar{
    height: 60%;
    border-radius: 50%;
    border: 1px solid gray;
    background: $sec-color;
    margin: auto;
    padding: 0.3rem;
    min-width: 2.3rem;
    z-index: 100;
    transition: all 0.3s ease-out;

    > a{
        margin: 0 0.5rem;
        text-decoration: none;
        color: white;
        display: none;
        transition: background-color 0.2s ease-in-out;
        border-radius: 10px;
        padding: 0 5px;
        position: absolute;
        line-height: 1.2;


        &:last-of-type{
            position: relative;
            color: $main-color;
            margin-left: 4rem;
        }

        &:active{
            background-color: rgba(156, 156, 156, 0.5);
        }

        @media(min-width: 45rem){
            display: inline;
        }
        @media(min-width: 80rem){
            line-height: 1.6;
        }
    }

    > button{
        display: inline;
        background: none;
        border: none;
        outline: none;
        color: $main-color;
        padding: 0 0.35rem;
        font-size: 1rem;
        text-align: center;

        @media(min-width: 45rem){
            display: none;
        }
    }

    @media(min-width: 45rem){
        min-width: 9rem;
        border-radius: 10px;
    }
    @media(min-width: 55rem){
        margin: auto 1rem;
    }
}

.logged{
    background: white;
}