
$main-color: #61dafb;
$sec-color: #282c34;
$back-color: #20232a;
$pageback-color: #fff;

$highlighted-color: lighten($main-color , 25%);
$active-color: #373940;
$link-color: #fff;
$text-color: #464646;
$lightergray-color: #ececec;
$title-color: #999;
$darkertitle-color: #6d6d6d;

