@import "./colors.module.scss";

.container {
    width: 87%;
    margin: 0 auto;
    max-width: 90rem;
}

.PageStyles{
    line-height: 1.7;
    position: relative;
    width: 100%;
    margin: 6rem 0;
    color: darken($text-color, 20%);

    > hr {
        margin-top: 2rem;
        margin-bottom: 1rem;
        height: 1px;
        border: none;
        border-bottom: 1px solid lighten($title-color, 30%);
    }

    .h{
        text-align: left;
        margin-bottom: 1rem;
        display: inline-block;
        color: black;
        @media(min-width: 80rem){
            font-size: 1.7rem;
        }
    }

    section {
        width: 100%;
        color: $sec-color;

        blockquote {
            background: rgba(255,229,100,0.3);
            border-left: 9px solid #ffe564;
            padding: 20px 45px 20px 26px;
            width: 110%;
            margin: 1rem -18px;

            @media(min-width: 55rem){
                margin-bottom: 30px;
                margin-top: 20px;
                margin-left: -30px;
                margin-right: -30px;
            }
        }

        h1 {
            @extend .h;
            font-size: 3.8rem;
            margin-top: 2rem;
            line-height: 1.2;
            color: $sec-color;

            & > p {
                margin-top: 10px;
                line-height: 1.2;
                font-weight: 400;
                font-size: 1rem;
            }

            & + p {
                font-weight: 300;
                color: $darkertitle-color;
                font-size: 1.1rem;
                margin: 2rem 0;

                @media(min-width: 80rem){
                    font-size: 1.4rem;
                }
            }

        }

        h2 {
            @extend .h;

            @media(min-width: 80rem){
                font-size: 2.2rem;
            }
        }

        h3 {
            @extend .h;
        }

        p {
            max-width: 37em;
            line-height: 1.6;
            font-size: 1.1rem;
            & > code {
                background-color: darken( $pageback-color, 7%);
                color: black;
            }

            & + p {
                margin-top: 2rem;
            }

            & + a {
                margin-top: 2rem;
            }
        }

        ul, ol {
            line-height: 1.7;
            margin: 1rem 0;
            margin-bottom: 2rem;

            li {
                margin-left: 1.5rem;
                margin-top: 0.5rem;
            }
        }

        strong {
            color: black;
        }

        a {
            color: $sec-color;
            font-style: normal;
            text-decoration: none;
            background-color: $highlighted-color;
            border-bottom: 1px solid lightblue;

            &:hover{
                background-color: darken($highlighted-color, 10%);
                border-bottom: 1px solid gray;
            }

            + a {
                margin-top: 3rem;
            }
        }
    }
    @media(min-width: 55rem){
        width: 60%;
    }

    @media(min-width: 100rem){
        margin: 7rem auto;
    }
}