.linkContainer{
    display: block;
    position: relative;
    margin-top: -2rem;
    padding-top: 4rem;
    padding-bottom: 1rem;

    .linkIcon {
        display: inline-block;
        opacity: 0;
        position: absolute;
        left: -2rem;
        padding: 0.2rem;
        width: 2rem;
        background: none;
        border: none;

        &:hover{
            opacity: 1;
            background: none;
            border: none;
        }
    }

    &:hover{
        > .linkIcon {
            opacity: 1;
        }
    }

    & + .linkContainer {
        padding-bottom: 0;
    }
}