@import "../../../shared/colors.module.scss";

.Footer{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $back-color;

    &.shrink{
        width: 100%;
        padding: 0rem;

        .container{
            padding: 2rem 6vw;
            flex-direction: column-reverse;

            .Box{
                margin: 2rem 0;
            }

            .copy{
                margin-bottom: 1rem;

                > p {
                    text-align: left;
                    margin: 1rem 0;
                }
            }

            @media(min-width: 80rem){
                flex-direction: row-reverse;
                align-content: flex-start;
            }
        }

        @media(min-width: 55rem){
            padding: 0;
            width: 75%;
        }

        @media(min-width: 100rem){
            width: 85%;
        }

        @media(min-width: 130rem){
            width: 105%;
        }
    }

    .container{
        width: 90%;
        max-width: 80rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Box{
            flex-grow: 5;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem 0;
            margin: 3rem 0;
            color: $link-color;

            @media(min-width: 100rem){
                grid-template-columns: repeat(4,1fr);
            }
        }
    
        .copy{
            flex-grow: 2;
            margin: 4rem 0;
            color: $title-color;
            > p{
                width: 80%;
                margin: 0 auto;
                font-size: 1rem;
                text-align: center;
            }
        }

        @media(min-width: 30rem){
            flex-direction: row-reverse;
        }
    }
}