@import "../../../../../shared/colors.module.scss";

.ResultBox{
    position: absolute;
    top: 120%;
    z-index: 1;

    background-color: $active-color;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);

    right: -10vw;
    width: 90vw;

    .Results{
        text-align: center;
    }

    .Brand{
        background-color: white;
        color: $active-color;
        text-align: right;
        padding: 0.1rem;
    }

    &::after{
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $active-color;

        display: block;
        position: absolute;
        top: -0.5rem;
        right: 30%;
        z-index: -1;

        @media(min-width: 45rem ){
            right: 4rem;
        }
    }

    @media( min-width: 45rem ){
        width: 300%;
        right: 0;
    }
}